.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}
.inputWrapper {
  position: relative;
}
.input {
  width: 240px;
  height: 54px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
}
.button {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  padding: 16px 20px;
  border-radius: 12px;
  width: 240px;
  border: none;
  background-color: var(--secondary-green-CBDED3);
  transition: all;
  transition-duration: var(--my-transition-duration);
  transition-timing-function: var(--my-transition-timing-function);
  transition-delay: var(--my-transition-delay);
}
.button:hover {
  background-color: var(--primary-green-9FBAAE);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.errorMessage {
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  color: red;
}
@media (min-width: 768px) {
  .inputWrapper {
    position: relative;
  }
  .input {
    width: 438px;
  }
  .button {
    padding: 16px 187px;

    width: 438px;
  }

  .errorMessage {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
}
